.box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    

    width: auto;
    padding: 25px;
    height: auto;
    border: solid 1px gray;
    border-radius: 10px;
    
}

.players_gaming_session {
    margin-right: 20px;
    border: solid 1px;
    border-radius: 5px;
}